

main(ui-view="" layout="column")


footer(layout="column" layout-align="end" ng-cloak="")

//    md-toolbar.credits.md-hue-2(layout="row" layout-align="start center")
        a(href="https://github.com/jutge-org/cmm" target="_blank")
            img.right-m-sm(src="/img/GitHub-Mark-32px.png")
        span Built with&nbsp;
        i.material-icons(style="color: #FF5252") favorite
        span &nbsp;by&nbsp;
        a.bold(href="http://github.com/albertsgrc" target="_blank") Albert Segarra
        span ,&nbsp;
        a.bold(href="http://github.com/rgascons" target="_blank") Ricard Gascons
        span &nbsp;&&nbsp;
        a.bold(href="http://github.com/ofpau" target="_blank") Pau Oliver
