//
   Created by albert on 10/6/17.
div(layout="row" flex="")
    textarea.codelike(placeholder="Enter your fixed input here. \nIt will be forwarded everytime you run or debug the program. \nRemember that you can also send input to the program by using the terminal." flex="" ng-model="$parent.fixedInput" ng-change="what()")
